.wordcamp-clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.wordcamp-speakers-block {
	/* The double-ampersand defeats an overzealous ul rule in Core's editor-blocks.css. */
	/* https://css-tricks.com/the-sass-ampersand/#article-header-id-11 */
	&#{&},
	.block-editor &#{&} {
		list-style: none;
		margin: 0 0 1em 0;
	}

	&.layout-list > li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}

	@media ( min-width: 400px ) {
		&.layout-grid {
			display: grid;
			grid-template-columns: repeat( 2, 1fr );
			grid-column-gap: 1em;
			grid-row-gap: 1em;

			/* Ensure columns maintain equal widths. */
			/* https://stackoverflow.com/a/43312314 */
			min-height: 0;
			min-width: 0;
			& .wordcamp-speaker {
				overflow: hidden;
				min-width: 0;
			}
		}
	}

	@media ( min-width: 600px ) {
		&.layout-grid.grid-columns-3 {
			grid-template-columns: repeat( 3, 1fr );
		}
	}

	@media ( min-width: 800px ) {
		&.layout-grid.grid-columns-4 {
			grid-template-columns: repeat( 4, 1fr );
		}
	}
}

.wordcamp-speaker-session-list {
	/* See note above about the double-ampersand. */
	ul#{&},
	.block-editor ul#{&} {
		list-style: none;
		margin: 0
	}
}

.wordcamp-speaker-avatar {
	&.align-left,
	&.align-center,
	&.align-right {
		display: block;
	}

	&.align-left {
		float: left;
		margin-right: 1em;
	}

	&.align-center {
		margin-left: auto;
		margin-right: auto;
	}

	&.align-right {
		float: right;
		margin-left: 1em;
	}
}
