.wordcamp-block-speakers-mode-option {
	flex-basis: 100%;
	padding: 0.5em;
}
.wordcamp-speakers-select-option {
	display: flex;
	align-items: center;
}
.wordcamp-speakers-select-option-icon-container {
	background-color: #f3f3f4;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
}
.wordcamp-speakers-select-option-label {
	margin: 0 0.5em;
}

.wordcamp-speakers-select-option-label-term-count {
	font-size: 0.6em;
	display: inline-block;
	border-radius: 50%;
	background-color: #f3f3f4;
	width: 2.2em;
	height: 2.2em;
	margin: 0 0.5em;
	text-align: center;
	line-height: 2.2em;
	vertical-align: text-top;
}

.wordcamp-components-versatile-select {
	width: 100%;
}

/* todo: Maybe these should be in a separate stylesheet that can be used for front-end as well. */

.wordcamp-speakers-block {
	.editor-styles-wrapper & {
		list-style: none;
	}

	&.layout-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1em;
		grid-row-gap: 1em;

		&.grid-columns-3 {
			grid-template-columns: repeat( 3, 1fr );
		}
		&.grid-columns-4 {
			grid-template-columns: repeat( 4, 1fr );
		}
	}

	.wordcamp-speaker:after {
		content: "";
		display: table;
		clear: both;
	}
}

.wordcamp-speaker-session-list {
	.editor-styles-wrapper & {
		list-style: none;
	}
}

.wordcamp-speaker-avatar {
	&.align-left,
	&.align-center,
	&.align-right {
		display: block;
	}

	&.align-left {
		float: left;
		margin-right: 1em;
	}

	&.align-center {
		margin-left: auto;
		margin-right: auto;
	}

	&.align-right {
		float: right;
		margin-left: 1em;
	}
}
