.wporg-events__contributors {
	.wp-block-heading em {
		display: block;
	}

	.is-style-links-list li:first-child {
		border-top: none;
	}

	.is-style-links-list li:last-child {
		border-bottom: none;
	}

	.is-style-links-list li {
		border-color: var(--wp--preset--color--light-grey-1);

		a {
			color: var(--wp--preset--color--charcoal-0);
		}
	}

	.wp-block-jetpack-tiled-gallery {
		min-width: 565px;
	}
}
