.wporg-events__contributors {

	@media (--phone-tablet) {
		&.is-layout-flex {
			display: block;
		}
	}

	& .is-style-links-list > li:first-child {
		border-top: none;
	}

	& .is-style-links-list > li:last-child {
		border-bottom: none;
	}
}