.wporg-events__contributors {
	.is-style-links-list li:first-child {
		border-top: none;
	}

	.is-style-links-list li:last-child {
		border-bottom: none;
	}

	.is-style-links-list li {
		border-color: var(--wp--preset--color--light-grey-1);

		a {
			color: var(--wp--preset--color--charcoal-0);
		}
	}

	@media screen and (min-width: 1170px) {
		.wporg-events__contributors__image {
			min-width: 565px;
			align-self: flex-start;
		}
	}
}
