.wp-block-group.global-header .global-header__search {
	order: 2;

	@media (--tablet) {
		order: unset;
		border-right: none;
		padding-bottom: 0;
	}

	& .wp-block-navigation__responsive-container {
		overflow: visible;
	}

	& .wp-block-navigation__responsive-container-open,
	& .wp-block-navigation__responsive-container-close {

		@media (--tablet) {
			padding-top: 33px;
			padding-bottom: 33px;
		}

		@media (--short-screen) {
			padding-bottom: 20px;
			padding-top: 16px;
			background-position: center;
		}

		&:focus-visible {
			outline: none;
			border-radius: 2px;
			box-shadow: inset 0 0 0 1.5px var(--wp-global-header--link-color--active);
		}
	}

	& .wp-block-navigation__responsive-container-open {
		box-sizing: content-box;
		width: 24px;
		height: 24px;
		background-image: url(../images/search.svg?ver=96c7098);
		background-repeat: no-repeat;
		background-size: 24px 24px;
		background-position: center;

		&:hover,
		&:focus-visible {
			background-color: var(--wp-global-header--background-color--hover);
		}

		& svg {
			display: none;
		}
	}

	& .wp-block-navigation__responsive-container-close {
		right: calc(56px + var(--wp--custom--alignment--scroll-bar-width));
		padding-right: 16px;
		background-color: var(--wp-global-header--background-color--hover);

		@media (--tablet) {
			position: absolute;
			top: calc(var(--wp-global-header-height) * -1);
			right: 0;
		}
	}

	& .wp-block-search {

		/* Set local custom properties so child themes can set these in one place. */
		--local--border-color: var(--wp--custom--form--border--color);
		--local--focus--border-color: var(--wp--preset--color--blueberry-1);
		--wp--custom--form--border--width: 0;
		--wp--custom--margin--horizontal: 20px;
		--wp--custom--margin--vertical: 20px;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: var(--wp--custom--margin--vertical);
		max-width: 100%;

		& > label {
			width: 100%;
			margin-bottom: calc(var(--wp--custom--form--padding) / 2);
			font-size: var(--wp--custom--form--typography--font-size);
			color: var(--wp--custom--form--color--label);
		}

		& .wp-block-search__inside-wrapper {
			flex: auto;
			padding: 0;
			border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--local--border-color);
			border-radius: var(--wp--custom--form--border--radius);
			background-color: var(--wp--custom--form--color--background);
		}

		& .wp-block-search__input {
			margin: 0;
			padding: var(--wp--custom--form--padding);
			border: none;
			box-shadow: none;
			background-color: var(--wp--custom--form--color--background);
			border-radius: var(--wp--custom--form--border--radius) 0 0 var(--wp--custom--form--border--radius);
			font-size: var(--wp--custom--form--typography--font-size);
			line-height: 1;

			&::placeholder {
				opacity: 1;
				color: var(--wp--custom--form--color--placeholder);
			}

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
				height: 10px;
				width: 10px;
				background: transparent;
				background-image: url(../images/search-x.svg?ver=1);
			}
		}

		& .wp-block-search__button {
			--wp--custom--button--color--background: transparent;
			--wp--custom--button--color--text: var(--wp--preset--color--charcoal-1);
			--wp--custom--button--hover--color--background: var(--wp--preset--color--light-grey-2);
			--wp--custom--button--hover--color--text: var(--wp--preset--color--charcoal-1);
			--wp--custom--button--active--color--background: var(--wp--preset--color--light-grey-2);
			--wp--custom--button--active--color--text: var(--wp--preset--color--charcoal-1);

			margin-left: 0;
			padding: calc(var(--wp--custom--form--padding) / 2);
			font-family: inherit;
			font-size: var(--wp--custom--form--typography--font-size);
			line-height: 1;
			text-decoration: none;
			opacity: 1;
			color: var(--wp--custom--button--color--text);
			background-color: var(--wp--custom--button--color--background);
			border: none;
			border-radius: 0 var(--wp--custom--form--border--radius) var(--wp--custom--form--border--radius) 0;

			& svg {
				fill: var(--wp--custom--button--color--text);
			}

			&:hover,
			&:focus {
				color: var(--wp--custom--button--hover--color--text);
				background-color: var(--wp--custom--button--hover--color--background);

				& svg {
					fill: var(--wp--custom--button--hover--color--text);
				}
			}

			&:focus {
				background-color: var(--wp--custom--form--color--background);
			}

			&:active {
				color: var(--wp--custom--button--active--color--text);
				background-color: var(--wp--custom--button--active--color--background);

				& svg {
					fill: var(--wp--custom--button--active--color--text);
				}
			}

			border-radius: var(--wp--custom--form--border--radius);

			&.has-icon {
				line-height: 0;

				/**
				 *The user needs some kind of indication that the search icon is a button that can be clicked to
				 * submit the form, because these buttons don't have the normal indicators. For background, see:
				 * https://ux.stackexchange.com/questions/105024/why-dont-button-html-elements-have-a-css-cursor-pointer-by-default
				 */

				&:hover {
					cursor: pointer;
				}
			}
		}

		& .wp-block-search__input,
		& .wp-block-search__button {
			&:focus {
				outline: none;
				outline-offset: unset;
			}

			&:focus-visible {
				outline: 1.5px solid #fff;
				outline-offset: -1.5px;
				box-shadow: inset 0 0 0 3px var(--local--focus--border-color);
			}
		}

		&.wp-block-search__text-button .wp-block-search__button {
			font-size: var(--wp--custom--form--typography--font-size);
			padding: var(--wp--custom--form--padding);
		}

		@media (--tablet) {
			padding: 0 var(--wp--custom--margin--horizontal) var(--wp--custom--margin--vertical);
			width: 100%;
		}

		@media (max-width: 599px) {
			--wp--custom--form--typography--font-size: 16px;
		}
	}
}

.wp-block-group.global-header.has-charcoal-0-color,
.wp-block-group.global-header.has-charcoal-1-color,
.wp-block-group.global-header.has-charcoal-2-color {
	& .global-header__search .wp-block-search {
		--local--border-color: var(--wp--preset--color--charcoal-1);
		--local--focus--border-color: var(--wp--preset--color--blueberry-1);
		--wp--custom--form--color--label: var(--wp--preset--color--charcoal-1);
		--wp--custom--form--border--width: 1px;

		& .wp-block-search__input,
		& .wp-block-search__button {
			&:focus-visible {
				outline: 1.5px solid var(--local--focus--border-color);
				outline-offset: -0.5px;
				box-shadow: none;
			}
		}
	}

	& .global-header__search .wp-block-navigation__responsive-container-open {
		background-image: url(../images/search-for-light-bg.svg?ver=96c7098);
	}
}
