#
# Docker
#
.docker/data/*.bkp
.docker/database
.docker/wordcamp*.pem


#
# Misc
#
google*.html
wp-cli.yml
script-backups/
node_modules/
public_html/.well-known/
public_html/mu/
public_html/bin/
public_html/wp-config.php

public_html/wp-content/blogs.dir/
public_html/wp-content/cache/
public_html/wp-content/languages/
public_html/wp-content/**/build/
public_html/wp-content/mu-plugins/includes/slack/
public_html/wp-content/mu-plugins/vendor/
public_html/wp-content/mu-plugins/sandbox-functionality.php
public_html/wp-content/mu-plugins-private/
public_html/wp-content/themes-private/
public_html/wp-content/uploads/
public_html/wp-content/debug.log

.docker/test_suite


#
# Plugins
#
public_html/wp-content/plugins/akismet
public_html/wp-content/plugins/bbpress
public_html/wp-content/plugins/buddypress
public_html/wp-content/plugins/campt-indian-payment-gateway
public_html/wp-content/plugins/camptix-bd-payments/
public_html/wp-content/plugins/camptix-kdcpay-gateway
public_html/wp-content/plugins/camptix-mercadopago
public_html/wp-content/plugins/camptix-network-tools
public_html/wp-content/plugins/camptix-pagseguro
public_html/wp-content/plugins/camptix-payfast-gateway
public_html/wp-content/plugins/camptix-paynow/
public_html/wp-content/plugins/camptix-paystack/
public_html/wp-content/plugins/camptix-trustcard
public_html/wp-content/plugins/camptix-trustpay
public_html/wp-content/plugins/classic-editor
public_html/wp-content/plugins/custom-content-width
public_html/wp-content/plugins/email-post-changes
public_html/wp-content/plugins/edit-flow/
public_html/wp-content/plugins/gutenberg/
public_html/wp-content/plugins/hyperdb/
public_html/wp-content/plugins/json-rest-api/
public_html/wp-content/plugins/jetpack
public_html/wp-content/plugins/liveblog
public_html/wp-content/plugins/polldaddy
public_html/wp-content/plugins/public-post-preview/
public_html/wp-content/plugins/pwa/
public_html/wp-content/plugins/query-monitor/
public_html/wp-content/plugins/supportflow
public_html/wp-content/plugins/tagregator
public_html/wp-content/plugins/wordpress-importer
public_html/wp-content/plugins/wp-cldr
public_html/wp-content/plugins/wp-multibyte-patch
public_html/wp-content/plugins/wp-super-cache
public_html/wp-content/plugins/wporg-profiles-wp-activity-notifier/


#
# Themes
#
public_html/wp-content/themes/p2
public_html/wp-content/themes/twentyten
public_html/wp-content/themes/twentyeleven
public_html/wp-content/themes/twentytwelve
public_html/wp-content/themes/twentythirteen
public_html/wp-content/themes/twentyfourteen
public_html/wp-content/themes/twentyfifteen
public_html/wp-content/themes/twentysixteen
public_html/wp-content/themes/twentyseventeen
public_html/wp-content/themes/twentynineteen
public_html/wp-content/themes/twentytwenty
