.docker/data/
.docker/database

public_html/wp-content/mu-plugins/blocks/build

public_html/wp-content/plugins/akismet
public_html/wp-content/plugins/buddypress
public_html/wp-content/plugins/bbpress
public_html/wp-content/plugins/jetpack
public_html/wp-content/plugins/wp-multibyte-patch
public_html/wp-content/plugins/wordpress-importer
public_html/wp-content/plugins/polldaddy
public_html/wp-content/plugins/liveblog
public_html/wp-content/plugins/wp-super-cache
public_html/wp-content/plugins/custom-content-width
public_html/wp-content/plugins/camptix-network-tools
public_html/wp-content/plugins/email-post-changes
public_html/wp-content/plugins/tagregator
public_html/wp-content/plugins/supportflow
public_html/wp-content/plugins/camptix-pagseguro
public_html/wp-content/plugins/camptix-payfast-gateway
public_html/wp-content/plugins/camptix-trustpay
public_html/wp-content/plugins/camptix-trustcard
public_html/wp-content/plugins/camptix-mercadopago
public_html/wp-content/plugins/camptix-kdcpay-gateway
public_html/wp-content/plugins/campt-indian-payment-gateway
public_html/wp-content/plugins/camptix
public_html/wp-content/plugins/classic-editor

public_html/wp-content/themes/twentyten
public_html/wp-content/themes/twentyeleven
public_html/wp-content/themes/twentytwelve
public_html/wp-content/themes/twentythirteen
public_html/wp-content/themes/twentyfourteen
public_html/wp-content/themes/twentyfifteen
public_html/wp-content/themes/twentysixteen
public_html/wp-content/themes/twentyseventeen
public_html/wp-content/themes/twentynineteen
public_html/wp-content/themes/p2
