<phpunit
	bootstrap="phpunit-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<php>
		<const name="WP_TESTS_MULTISITE" value="1" />
	</php>

	<testsuites>
		<testsuite name="CampTix">
			<directory prefix="test-" suffix=".php">
				./public_html/wp-content/plugins/camptix/tests/
			</directory>
		</testsuite>

		<testsuite name="WordCamp Organizer Reminders">
			<directory prefix="test-" suffix=".php">
				./public_html/wp-content/plugins/wordcamp-organizer-reminders/tests/
			</directory>
		</testsuite>

		<testsuite name="WordCamp Remote CSS">
			<directory prefix="test-" suffix=".php">
				./public_html/wp-content/plugins/wordcamp-remote-css/tests/
			</directory>
		</testsuite>
	</testsuites>
</phpunit>
