watch:
  directories:
    - ./public_html/wp-content/mu-plugins/
    - ./public_html/wp-content/plugins/camptix/
    - ./public_html/wp-content/plugins/wordcamp-organizer-reminders/
    - ./public_html/wp-content/plugins/wc-post-types/
    - ./public_html/wp-content/plugins/wcpt/
    - ./public_html/wp-content/plugins/wordcamp-remote-css/
    - ./public_html/wp-content/plugins/wordcamp-speaker-feedback/

  # Still need to explicitly declare some things here, even though `ignoreVCSIgnored` defaults to `true`.
  # Maybe because of paths?
  exclude:
    - vendor
    - node_modules

notifications:
  passingTests: false
  failingTests: false

phpunit:
  binaryPath: ./public_html/wp-content/mu-plugins/vendor/bin/phpunit
