.wporg-latest-news {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wporg-latest-news li:not(:last-child) {
	padding-bottom: var(--wp--custom--latest-news--spacing, 16px);
}

.wporg-latest-news li a {
	text-decoration: none;
}

.wporg-latest-news li a:hover {
	text-decoration: underline;
}

.wporg-latest-news li > a {
	display: block;
	margin-bottom: var(--wp--custom--latest-news--link--spacing, 4px);
	color: var(--wp--custom--latest-news--link--color);
	font-family: var(--wp--custom--latest-news--title--font-family);
	font-size: var(--wp--custom--latest-news--title--font-size, 24px);
	line-height: var(--wp--custom--latest-news--title--line-height);
}

.wporg-latest-news__details {
	font-size: var(--wp--custom--latest-news--link--details-font-size, 14px);
}

.wporg-latest-news__details > *:not(:last-child) {
	margin-right: 4px;
}

.wporg-latest-news__category {
	text-transform: uppercase;
}
