
.wordcamp-image__size-label,
.wordcamp-image__alignment-label {
	display: block;
	margin-bottom: 4px;
}

.wordcamp-image__size-preset-buttons {
	display: flex;
	justify-content: space-between;
}

.wordcamp-image__size-range {
	.edit-post-settings-sidebar__panel-block .components-panel__body & {
		margin-top: 1em;
	}
}
