/*
 * Theme Name:  Events.WordPress.org 2023
 * Description: Includes templates for the homepage, event archives, etc.
 * License:     GNU General Public License v2 or later
 * Text Domain: wporg
 * Template:    wporg-parent-2021
 */

/* Base */
@import "base/breakpoints.pcss";
@import "base/layout.pcss";

/* Pages */
@import "page/front-page/cover.pcss";
@import "page/front-page/contributors.pcss";

/* Blocks */
@import "blocks/wporg-google-map.pcss";
