.wporg-marker-list__container__title {
	color: var(--wp--preset--color--charcoal-1);
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--medium);
	font-style: normal;
	font-weight: 700;
	margin-block-end: var(--wp--preset--spacing--20);
}
