<!-- wp:template-part {"slug":"header","className":"has-display-contents","tagName":"div","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"align":"full","className":"groups-site-page-header","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull groups-site-page-header">

	<!-- wp:pattern {"slug":"groups-site/group-back-link"} /-->

</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"wporg-parent-2021/404-page"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
