<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:wporg/local-navigation-bar {"lock":{"move":true,"remove":true},"backgroundColor":"white","style":{"elements":{"link":{"color":{"text":"var:preset|color|charcoal-1"},":hover":{"color":{"text":"var:preset|color|charcoal-1"}}}}},"textColor":"charcoal-1","fontSize":"small"} -->
	<!-- wp:site-title {"level":0,"fontSize":"small"} /-->
	<!-- wp:navigation {"icon":"menu","overlayBackgroundColor":"white","overlayTextColor":"charcoal-1","layout":{"type":"flex","orientation":"horizontal"},"fontSize":"small"} -->
		<!-- wp:page-list /-->
	<!-- /wp:navigation -->
<!-- /wp:wporg/local-navigation-bar -->

<!-- wp:pattern {"slug":"wporg-parent-2021/404-page"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
