<!-- wp:template-part {"slug":"header","className":"has-display-contents","tagName":"div","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"className":"groups-site-hero","lock":{"move":true,"remove":true},"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|edge-space","right":"var:preset|spacing|edge-space"}}},"layout":{"type":"constrained","wideSize":"1280px"}} -->
<div class="wp-block-group groups-site-hero" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--edge-space);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--edge-space)">
	<!-- wp:columns {"verticalAlignment":"center","align":"wide","className":"groups-site-hero-columns","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|30","left":"var:preset|spacing|60"}}}} -->
	<div class="wp-block-columns alignwide are-vertically-aligned-center groups-site-hero-columns">
		<!-- wp:column {"verticalAlignment":"center","className":"groups-site-hero-text"} -->
		<div class="wp-block-column is-vertically-aligned-center groups-site-hero-text">
			<!-- wp:group {"className":"groups-site-hero-content","style":{"spacing":{"blockGap":"var:preset|spacing|10"}}} -->
			<div class="wp-block-group groups-site-hero-content">
				<!-- wp:site-title {"level":1,"isLink":false,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"typography":{"fontSize":"50px","lineHeight":"1.2"}}} /-->

				<!-- wp:site-tagline {"fontSize":"small","textColor":"charcoal-3","style":{"spacing":{"margin":{"top":"20px","bottom":"0"}}}} /-->

				<!-- wp:group {"className":"groups-site-hero-meta","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"center"}} -->
				<div class="wp-block-group groups-site-hero-meta">
					<!-- wp:wporg/group-location {"fontSize":"small","textColor":"charcoal-4","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"lock":{"move":true,"remove":true}} /-->

					<!-- wp:wporg/group-membership {"variant":"count","lock":{"move":true,"remove":true}} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"verticalAlignment":"center","width":"50%","className":"groups-site-hero-media"} -->
		<div class="wp-block-column is-vertically-aligned-center groups-site-hero-media" style="flex-basis:50%">
			<!-- wp:group {"className":"groups-site-hero-frame","backgroundColor":"pomegranate-3","style":{"border":{"radius":"8px"},"spacing":{"padding":{"top":"0px","right":"var:preset|spacing|40","bottom":"0px","left":"var:preset|spacing|40"}}}} -->
			<div class="wp-block-group groups-site-hero-frame has-pomegranate-3-background-color has-background" style="border-radius:8px;padding-top:0px;padding-right:var(--wp--preset--spacing--40);padding-bottom:0px;padding-left:var(--wp--preset--spacing--40)">
				<!-- wp:group {"className":"groups-site-hero-card","backgroundColor":"white","style":{"border":{"radius":"2px"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"16px","left":"20px"},"blockGap":"16px"}}} -->
				<div class="wp-block-group groups-site-hero-card has-white-background-color has-background" style="border-radius:2px;padding-top:20px;padding-right:20px;padding-bottom:16px;padding-left:20px">
					<!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"2px"}}} /-->

					<!-- wp:pattern {"slug":"groups-site/hero-share"} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|edge-space","right":"var:preset|spacing|edge-space"}}},"layout":{"type":"constrained","wideSize":"1280px"}} -->
<main class="wp-block-group" id="main" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--edge-space);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--edge-space)">

	<!-- wp:columns {"align":"wide","className":"groups-site-home-layout","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|60"}}}} -->
	<div class="wp-block-columns alignwide groups-site-home-layout">
		<!-- wp:column {"width":"74%","className":"groups-site-main-column-wrapper"} -->
		<div class="wp-block-column groups-site-main-column-wrapper" style="flex-basis:74%">
			<!-- wp:group {"className":"groups-site-main-column","style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group groups-site-main-column">
				<!-- wp:wporg/my-events {"lock":{"move":true,"remove":true}} /-->

				<!-- wp:wporg/page-content {"slug":"about","heading":"About this group","headingLevel":2,"excerpt":true,"className":"groups-site-about","lock":{"move":true,"remove":true}} /-->

				<!-- wp:group {"className":"groups-site-section","anchor":"upcoming","layout":{"type":"constrained","justifyContent":"left"}} -->
				<div id="upcoming" class="wp-block-group groups-site-section">
					<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap","verticalAlignment":"center"}} -->
					<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--30)">
						<!-- wp:heading {"level":2,"fontSize":"heading-3","style":{"spacing":{"margin":{"bottom":"0"}}}} -->
						<h2 class="wp-block-heading has-heading-3-font-size" style="margin-bottom:0">Upcoming events</h2>
						<!-- /wp:heading -->

						<!-- wp:pattern {"slug":"groups-site/view-all-events-link"} /-->
					</div>
					<!-- /wp:group -->

					<!-- wp:query {"query":{"postType":"gatherpress_event","perPage":3,"offset":0,"order":"asc","orderBy":"datetime","gatherpress_event_query":"upcoming","include_unfinished":1,"inherit":false},"namespace":"gatherpress-event-query","className":"gatherpress-event-query"} -->
					<div class="wp-block-query gatherpress-event-query">
						<!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
							<!-- wp:pattern {"slug":"groups-site/event-card"} /-->
						<!-- /wp:post-template -->

						<!-- wp:query-no-results -->
							<!-- wp:paragraph {"textColor":"charcoal-4"} -->
							<p class="has-charcoal-4-color has-text-color">No upcoming events yet. Check back soon.</p>
							<!-- /wp:paragraph -->
						<!-- /wp:query-no-results -->
					</div>
					<!-- /wp:query -->
				</div>
				<!-- /wp:group -->

				<!-- wp:wporg/group-news {"limit":3,"lock":{"move":true,"remove":true}} /-->

				<!-- wp:wporg/sponsors {"lock":{"move":true,"remove":true},"className":"groups-site-sponsors"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"26%","className":"groups-site-sidebar-column"} -->
		<div class="wp-block-column groups-site-sidebar-column" style="flex-basis:26%">
			<!-- wp:group {"tagName":"aside","className":"groups-site-sidebar","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
			<aside class="wp-block-group groups-site-sidebar">
				<!-- wp:wporg/group-membership {"variant":"membership","lock":{"move":true,"remove":true}} /-->

				<!-- wp:wporg/event-manage {"mode":"create","lock":{"move":true,"remove":true}} /-->

				<!-- wp:wporg/group-settings {"lock":{"move":true,"remove":true}} /-->

				<!-- wp:wporg/group-membership {"variant":"preference","className":"groups-site-sidebar-preference","lock":{"move":true,"remove":true}} /-->
			</aside>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
