.wporg-map-marker__title {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--normal);
	font-weight: 600;
}

.wporg-map-marker__location {
	margin-bottom: 2px;
}

.wporg-map-marker__date-time {
	margin-top: 0;
}
