
/* Until we move to multi-select we should show the count so users know there is a filter applied. */
.wporg-query-filter__toggle.has-no-filter-applied span,
.wporg-query-filter__toggle.is-single-select span {
	display: inline-block;
}

.wporg-query-filters {

	@media (max-width: 889px) {
		max-width: 100%;
		overflow-x: scroll;
	}
}
