.wordcamp-speaker-sessions-list {
	// The double-ampersand will output the same class name twice in a row,
	// which defeats an overzealous ul rule in Core's editor-blocks.css.
	// https://css-tricks.com/the-sass-ampersand/#article-header-id-11
	&#{&} {
		list-style: none;
		margin: 0;
	}
}

.wordcamp-speaker-session-link,
.wordcamp-speaker-session-info {
	display: block;
}

.wordcamp-speaker-session-info {
	font-style: italic;
}
