.wporg-events__footer-organize {
	border-bottom: 1px solid var(--wp--preset--color--light-grey-1);

	@media (--small-only) {
		&.is-layout-flex {
			display: block;
			margin-top: 60px;
		}

		& .wp-block-buttons.is-layout-flex {
			display: block;
			margin-top: var(--wp--preset--spacing--edge-space);
		}
	}
}
