.page-slug-organize-an-event .wp-block-post-title {
	margin: 0 auto;
	text-align: center;
}

@media (--medium-small) {
	.page-organize-content-image {
		display: none;
	}
}

body .is-layout-flex.page-upcoming-title-past-wrapper {
	align-items: baseline;
}
