.edit-post-block-sidebar__panel {
	.components-panel__body {
		.wordcamp-components-avatar-size-buttons {
			display: flex;
			justify-content: space-between;
		}
		.wordcamp-components-avatar-size-range {
			margin-top: 1em;
		}
	}
}
