<phpunit
    bootstrap="phpunit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <php>
        <const name="WP_RUN_CORE_TESTS" value="0" />
    </php>
    <testsuites>
        <testsuite name="default">
            <directory prefix="test-" suffix=".php">./phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
