/*--------------*
 *  Newsreader  *
 *--------------*/

/* cyrillic-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}

/*----------------------*
 *  Newsreader, Italic  *
 *----------------------*/

/* cyrillic-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}


/*-----------------*
 *  Anton-Regular  *
 *-----------------*/

/* cyrillic-ext */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}

/*------------------------*
 *  CourierPrime-Regular  *
 *------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*------------------------*
 *  CourierPrime-Bold  *
 *------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*---------*
 *  Inter  *
 *---------*/

/* cyrillic-ext */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}


/*---------------*
 *  EB Garamond  *
 *---------------*/

/* cyrillic-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}


/*-----------------------*
 *  EB Garamond, Italic  *
 *-----------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}


/*----------------------------*
 *  IBM Plex Mono ExtraLight  *
 *----------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*------------------------------------*
 *  IBM Plex Mono ExtraLight, Italic  *
 *------------------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*-----------------*
 *  IBM Plex Mono  *
 *-----------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*-------------------------*
 *  IBM Plex Mono, Italic  *
 *-------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*----------------------*
 *  IBM Plex Mono Medium  *
 *----------------------*/

/* cyrillic-ext */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}

/*----------------------*
 *  IBM Plex Mono Bold  *
 *----------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*------------------------------*
 *  IBM Plex Mono Bold, Italic  *
 *------------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*------------------------------*
 *  IBMPlexSans-Regular  *
 *------------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-Regular-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-Regular-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-Regular-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-Regular-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-Regular-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-Regular-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-Regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-Regular-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}

/*------------------------------*
 *  IBMPlexSans-SemiBold  *
 *------------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-SemiBold-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-SemiBold-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-SemiBold-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-SemiBold-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-SemiBold-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-SemiBold-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-SemiBold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexSans/IBMPlexSans-SemiBold-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}
