.wporg-events__nearby-chips {
	button::before {
		content: "";
		width: 24px;
		height: 24px;
		display: inline-block;
	}

	#wporg-events__see-global::before {
		background-image: url( 'images/close.svg' );
	}

	#wporg-events__see-nearby::before {
		background-image: url( 'images/location.svg' );
	}
}
