/*
 * Theme Name:  wporg Flagship Landing Page
 * Description: Shows a list of all sites for the current flagship site. See `sunrise-wordcamp.php main()`.
 * License:     GNU General Public License v2 or later
 * Text Domain: wporg
 * Template:    wporg-parent-2021
 */

/* Base */
@import "base/breakpoints.pcss";
@import "base/layout.pcss";

/* Parts */

/* Pages */

/* Blocks */
