$color__grid-border: #e0e5e9;

/*
 * todo
 *
 * time column is wider than track columns, but it should be equal or maybe a bit smaller
 * 		might be different at different breakpoints. time has a min-width, maybe the others should too?
 *
 * alignfull causes horizontal scrolling, at least with some themes
 *
 * gutenberg's built-in "tablet" and "mobile" doesn't recognize the breakpoints
 *
 * setup vars for other colors. use convention from gutenberg if one is documented in future:
 * https://github.com/WordPress/gutenberg/issues/19352
 *
 * in TwentyTwenty, some .wordcamp-schedule__time-slot-header cells are about 10px more narrow than they should
 * be, exposing a gap between them and their neighboring cell.
 */

/*
 * This tries to only enhance to the grid layout when there's enough space, but there's no practical way to
 * determine that reliably across all themes, number of tracks, etc. The `Single Column Layout` block style
 * gives organizers a different option when the breakpoints here don't work for them.
 */
@mixin breakpoint-grid-layout() {
	.wordcamp-schedule:not(.is-style-single-column-layout) & {

		@supports ( display: grid ) {

			/* Front end. */
			body:not(.block-editor-page) & {

				@media screen and (min-width: 550px) {
					@content;
				}
			}

			/*
			 * Back end.
			 *
			 * The editor area is very narrow because of `#adminmenu` and `.edit-post-sidebar`, so this needs to be
			 * unusually high.
			 *
			 * todo maybe need a way to let the editor know that they're seeing the mobile view, but if they
			 * preview front end they can see grid view like a notice-warning that is `display:none` on the grid
			 * view.
			 */

			body.block-editor-page & {

				@media screen and (min-width: 1025px) {
					@content;
				}
			}
		}
	}
}

.wp-block[data-type="wordcamp/schedule"] .editor-block-list__block-edit {
	padding-left: 1em;
	padding-right: 1em;
}

.notice.day-has-overlapping-sessions {
	margin: 10px 0 20px 0;
	background-color: #f8ebea;

	p {
		margin: 0;
	}

	ul {
		margin: 2px 0 8px 0;
	}
}

.wordcamp-schedule__day {
	background-color: #fbfbfc;

	@include breakpoint-grid-layout {
		display: grid;
		grid-gap: 1px;
	}
}

.wordcamp-schedule__date {
	.editor-styles-wrapper & {
		margin-bottom: 0;
	}

	&::before {
		.editor-styles-wrapper & {
			content: none;
		}
	}
}

.wordcamp-schedule__column-header {
	display: none;
	background-color: #fff;
	font-weight: 700;
	font-size: 0.75em;
	text-align: center;

	/*
	 * Keep the headers visible so the user always knows which column they're looking at.
	 *
	 * todo this doesn't work on the front end.
	 * that may vary by theme.
	 * maybe related to https://make.wordpress.org/community/2018/10/26/wordcamp-block-schedule/#comment-26815.
	 *
	 * maybe need to switch back to ::after and then use z-index?
	 * see https://make.wordpress.org/community/2018/10/26/wordcamp-block-schedule/#comment-26821
	 */
	@include breakpoint-grid-layout {
		display: block;
		position: sticky;
		top: 0; /* Remove the gap above in Firefox and maybe other browsers. */
		z-index: 10;
		grid-row: tracks;

		/*
		 * Overflow the grid-gap so that the `background-color` from `.wordcamp-schedule-day` doesn't show through
		 * and create pseudo-borders.
		 */
		margin: 0 -1px 0 -1px;
		padding: 10px 5px 5px;
		background-color: rgba(251, 251, 252, 0.92); /* Same as $color__grid-border, but with opacity */
	}
}
