<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"entry-content","layout":{"type":"default"}} -->
<main class="wp-block-group entry-content">
	<!-- wp:template-part {"slug":"front-page/cover","theme":"wporg-events-2023"} /-->

	<!-- wp:template-part {"slug":"front-page/events","theme":"wporg-events-2023"} /-->

	<!-- wp:template-part {"slug":"front-page/contributors","theme":"wporg-events-2023"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
