.wordcamp-organizer-session-list {
	/* See note in ../speakers/block-content.scss about the double-ampersand. */
	ul#{&},
	.block-editor ul#{&} {
		list-style: none;
		margin: 0
	}
}

.wordcamp-organizer-avatar-container {
	&.align-left {
		float: left;
		margin-right: 1em;
	}

	&.align-center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&.align-right {
		float: right;
		margin-left: 1em;
	}
}
