<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"hero"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"5rem","bottom":"2rem"},"blockGap":"var:preset|spacing|70"},"dimensions":{"minHeight":"0vh"}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group" style="min-height:0vh;padding-top:5rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:2rem;padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"style":{"spacing":{"blockGap":"16px"},"dimensions":{"minHeight":"0px"},"layout":{"selfStretch":"fit","flexSize":""}},"layout":{"type":"constrained","contentSize":"600px","justifyContent":"center"}} -->
<div class="wp-block-group" style="min-height:0px"><!-- wp:heading {"textAlign":"left","level":1} -->
<h1 class="wp-block-heading has-text-align-left">Have any question?</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","fontSize":"custom-2"} -->
<p class="has-text-align-left has-custom-2-font-size">Use the form below to reach out to our team. We’re happy to help and will get back to you as soon as possible.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"content"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"0rem","bottom":"6rem"},"blockGap":"var:preset|spacing|70"},"dimensions":{"minHeight":"0vh"}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group" style="min-height:0vh;padding-top:0rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:6rem;padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"16px"},"dimensions":{"minHeight":"0px"},"layout":{"selfStretch":"fit","flexSize":""}},"layout":{"type":"constrained","contentSize":"600px","justifyContent":"center"}} -->
<div class="wp-block-group alignwide" style="min-height:0px"><!-- wp:heading {"textAlign":"left","level":6,"style":{"elements":{"link":{"color":{"text":"var:preset|color|vivid-red"}}}},"textColor":"vivid-red"} -->
<h6 class="wp-block-heading has-text-align-left has-vivid-red-color has-text-color has-link-color">Add your contact form here using a form plugin such as Gutena Forms</h6>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->