.wp-block-wordcamp-avatar,
.editor-styles-wrapper .wp-block-wordcamp-avatar {
	margin-left: 0;
	margin-right: 0;

	// Fix the placeholder styles — it expects to be in a larger space.
	.components-placeholder.components-placeholder.has-illustration {
		height: 100%;
		min-width: 0;
		min-height: 0;
		align-items: center;
	}

	.components-placeholder__label {
		margin-bottom: 0;
	}

	.components-placeholder__fieldset {
		display: none;
	}
}

[data-align="center"] .wp-block-wordcamp-avatar,
.wp-block-wordcamp-avatar.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-wordcamp-avatar img {
	max-width: 100%;
}

// From the Image block.
.wp-block-wordcamp-avatar.is-style-rounded img {
	// We use an absolute pixel to prevent the oval shape that a value of 50% would give
	// to rectangular images. A pill-shape is better than otherwise.
	border-radius: 9999px;
}
