<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"content"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"5rem","bottom":"5rem"},"blockGap":"var:preset|spacing|70"},"dimensions":{"minHeight":"100vh"}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group" style="min-height:100vh;padding-top:5rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:5rem;padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"style":{"spacing":{"blockGap":"16px"},"dimensions":{"minHeight":"0px"},"layout":{"selfStretch":"fit","flexSize":""}},"layout":{"type":"constrained","contentSize":"900px"}} -->
<div class="wp-block-group" style="min-height:0px"><!-- wp:heading {"textAlign":"left","level":1,"fontSize":"x-large"} -->
<h1 class="wp-block-heading has-text-align-left has-x-large-font-size">Title</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","style":{"typography":{"lineHeight":1.6000000000000001}},"fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size" style="line-height:1.6">Lorem ipsun</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->