.wordcamp-clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.wordcamp-post-list {
	// The double-ampersand will output the same class name twice in a row,
	// which defeats an overzealous ul rule in Core's editor-blocks.css.
	// https://css-tricks.com/the-sass-ampersand/#article-header-id-11
	&#{&} {
		list-style: none;
	}

	.wordcamp-post-list__post {
		margin: 0 0 1em 0;

		.has-layout-list & {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media ( min-width: 400px ) {
		&.has-layout-grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 1em;
			grid-row-gap: 1em;

			/*
			 * Ensure columns maintain equal widths.
			 * https://stackoverflow.com/a/43312314
			 */
			min-height: 0;
			min-width: 0;

			.wordcamp-post-list__post {
				overflow: hidden;
				min-width: 0;
			}
		}
	}

	@media ( min-width: 600px ) {
		&.has-layout-grid.has-grid-columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media ( min-width: 800px ) {
		&.has-layout-grid.has-grid-columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.wordcamp-post-list.has-no-content {
	margin: 1em 0;
	text-align: center;

	.components-spinner {
		float: none;
	}
}
