.wordcamp-components-avatar-size-buttons {
	display: flex;
	justify-content: space-between;
}

.wordcamp-components-avatar-size-range {
	.edit-post-settings-sidebar__panel-block .components-panel__body & {
		margin-top: 1em;
	}
}
