/**/.DS_STORE
/**/.idea
/**/.svn
/**/build
/**/node_modules
/vendor
*.map
backstop_data

# Allow local environment overrides.
.wp-env.override.json
wp-cli.local.yml

# Configs from wporg-repo-tools.
.eslintrc.js
.prettierrc.js
phpcs.xml.dist

# Ignore everything in src...
/wp-content
